// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// spawn-sh-at-startup "delta-shell run"
spawn-sh-at-startup "systemctl --user start delta-shell"
spawn-at-startup "xwayland-satellite"
